<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    <form [formGroup]="addUserForm">
        <div class="mb-2">
            <mat-label class="global-text-dark">Address</mat-label>
            <mat-form-field class="w-100">
                <input matInput formControlName="address">
            </mat-form-field>
        </div>
        <div>
            <mat-label class="global-text-dark">Group</mat-label>
            <mat-form-field>
                <mat-select formControlName="group_id">
                    <mat-option *ngFor="let group of groups" [value]="group.id">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-label class="global-text-dark">Comments</mat-label>
            <mat-form-field class="w-100">
                <input matInput formControlName="comments">
            </mat-form-field>
        </div>
        <div>
            <mat-label class="global-text-dark">Number</mat-label>
            <mat-form-field class="w-100">
                <input matInput formControlName="value">
            </mat-form-field>
        </div> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button type="button" [disabled]="addUserForm.invalid" (click)="addUser()">Add User</button>
    <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
</mat-dialog-actions>