<div class="table-container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let row">
                {{formatTxDate(row)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="slot">
            <th mat-header-cell *matHeaderCellDef> Slot </th>
            <td mat-cell *matCellDef="let row">
                @if (row.slot === 0) {
                    <mat-spinner diameter="18"></mat-spinner>
                } @else {
                    {{row.slot}}
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="tx_hash">
            <th mat-header-cell *matHeaderCellDef> Tx Hash </th>
            <td mat-cell *matCellDef="let row">
                <a class="table-link" [href]="explorerBaseUrl+'/tx/'+row.tx_hash" target="_blank">
                    <i class="bi bi-box-arrow-up-right me-1"></i>
                    {{addressAbrev(row.tx_hash)}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="wallet">
            <th mat-header-cell *matHeaderCellDef> Wallet </th>
            <td mat-cell *matCellDef="let row">
                <a class="table-link" [href]="explorerBaseUrl+'/address/'+row.address" target="_blank">
                    <i class="bi bi-box-arrow-up-right me-1"></i>
                    {{addressAbrev(row.address)}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let row">
                <span class="tx-type-badge" [class.tx-buy]="row.tx_type === 'BUY'"
                    [class.tx-sell]="row.tx_type === 'SELL'">
                    {{row.tx_type}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="tokens">
            <th mat-header-cell *matHeaderCellDef> Token Amount </th>
            <td mat-cell *matCellDef="let row">
                <span class="mono-value">{{row.tokens | number: '1.2-2'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> USDC Amount</th>
            <td mat-cell *matCellDef="let row">
                <span class="mono-value">${{row.value * +row.sol_price | number: '1.2-2'}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        aria-label="Select page of transactions" (page)="onChangedPage.emit($event)" [length]="totalCount">
    </mat-paginator>
</div>