<div class="container-fluid settings-container">
    <div class="row mb-4 mt-4">
        <div class="col-12 fs-15 text-center">
            Settings
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row mb-4">
                    <div class="col-12">
                        General
                    </div>
                </div>
                <div class="row mb-4 mt-4">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="align-center-left">
                            Server
                        </div>
                        <div>
                            <!-- <input class="w-100" type="text" pInputText [(ngModel)]="value" /> -->
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="align-center-left">
                            Device name
                        </div>
                        <div>
                            <input class="w-100" type="text" pInputText [(ngModel)]="device_name" />
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="align-center-left">
                            Port
                        </div>
                        <div>
                            <input class="w-100" type="number" pInputText [(ngModel)]="port" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="align-center-left">
                            Multicast address
                        </div>
                        <div>
                            <input class="w-100" type="text" pInputText [(ngModel)]="multicast_address" />
                        </div>
                    </div>
                </div>
                <!-- <div class="row mb-4 mt-2">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-6">
                        Color
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        123
                    </div>
                </div>
                <div class="row mb-4 mt-2">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-6">
                        Language
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        123
                    </div>
                </div>
                <div class="row mb-4 mt-2">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-6">
                        Minimize to the System Tray/Menu Bar when closing
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        123
                    </div>
                </div>
                <div class="row mb-4 mt-2">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-6">
                        Autostart after login
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        123
                    </div>
                </div>
                <div class="row mb-4 mt-2">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-6">
                        Animations
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        123
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>