:host {
    display: block;
    height: 100vh;
}

.navlink {
    text-decoration: none !important;
    margin: 0 0.5rem !important;
}

.wallet-address {
    margin-right: 0.5rem;
    padding: 0.5rem !important;
}